*{
    box-sizing: border-box
}
.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    /* for old browsers */
   -moz-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
   -webkit-justify-content: space-between;
    /***/
}
.container img{
    max-height : 100px;
    margin-top: 10px;
    padding: 3px;
    border: 1px solid #ece6e6;
    border-radius: 5px;
    /* for old browsers */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /***/
    box-shadow:-3px 3px 7px #ece6e6; 
    /* for old browsers */
    -webkit-box-shadow:-3px 3px 7px #ece6e6; 
    -moz-box-shadow:-3px 3px 7px #ece6e6; 
    -o-box-shadow:-3px 3px 7px #ece6e6; 
    -ms-box-shadow:-3px 3px 7px #ece6e6; 
  /***/
}
.container img:hover{
    transform: scale(1.5,1.5);
    border-radius: 50%;
    box-shadow: none;
      /* for old browsers */
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
 /***/
}